.header{
    background-color: #851f2d;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-content: center;
    padding: 1.5rem 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

header h1{
    margin: 0;
}

.background__image {
	background-image: url("/src/assets/meals.jpg");
	background-size: cover;
	background-position: center;
	height: 40rem;
	clip-path: polygon(100% 0, 100% 75%, 5% 100%, 0 100%, 0 0);
}

@media (width < 800px) {
	.background__image {
		height: 28rem;
    clip-path: none;

	}
}
