* {
	box-sizing: border-box;
}

:root {
	--background-color: #fff;
	--text-color: #000;
}

html {
	font-family: sans-serif;
	background: var(--background-color);
	color: var(--text-color);
}

body {
	margin: 0;
}

main {
	margin-top: 6rem;
}
