.cartButton {
	cursor: pointer;
	font: inherit;
	border: none;
	background-color: #4d1601;
	color: white;
	padding: 0.75rem 6rem;
	display: flex;
	justify-content: space-around;
	align-items: center;
    gap: 1.5rem;
	border-radius: 25px;
	font-weight: bold;

    &:hover{
        background-color: #4d170190;
    }
}

.cartButton img{
    height: 2rem;
}

.cartItemNumber{
    background-color: #862f0c;
    color: white;
    border-radius: 50%;
    width: 2.5rem;
    padding: 0.5rem;
    font-weight: bold;
    font-size: 1.5rem;
}

@media (width <= 768px) {
    .cartButton {
        padding: 0.75rem 3rem;
    }
}

.bounce{
    animation: bounce .3s ease-out;
}

@keyframes bounce{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}